@import 'tailwindcss';
@plugin "daisyui";

@theme {
    /* Colors */
    --color-portfolio-primary300: #575e5c;
    --color-portfolio-primary500: #384542;
    --color-portfolio-primary700: #242c2a;
    --color-portfolio-secondary300: #6871f2;
    --color-portfolio-secondary500: #5d65d9;
    --color-portfolio-secondary700: #474da6;
    /* Breakpoints */
    --breakpoint-xs: 30rem;
    --breakpoint-3xl: 121rem; /* 120rem is 1920px */
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
